@model Caterer.Models.CateringExtra
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Heading"] = "Products";
}
    <div class="container-fluid py-8">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="d-flex align-items-center">
                        <p class="mb-0 mr-auto">Add Extras </p>
                        <a class="btn btn-danger btn-sm" asp-action="Edit" asp-controller="CateringItems" asp-route-id="@Model.CateringItemId">X</a>

                        </div>
                    </div>
                    <div class="card-body">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input asp-for="CateringItemId" type="hidden" class="form-control" readonly />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                    <label asp-for="ExtraName" class="control-label">Extra Name</label>
                                        <input asp-for="ExtraName" required placeholder="Extra Name" class="form-control" />
                                        <span asp-validation-for="ExtraName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                    <label asp-for="ExtraPrice" class="control-label">Extra Price</label>
                                    <input asp-for="ExtraPrice" required class="form-control" />
                                        <span asp-validation-for="ExtraPrice" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                    <label asp-for="AddonCategory" class="control-label">Addon Category</label>
                                        <input asp-for="AddonCategory" placeholder="Addon Category" class="form-control" />
                                        <span asp-validation-for="AddonCategory" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        <div class="text-center custom-pro-edt-ds">
                                <input type="submit" value="Save" class="btn btn-success" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



