@model Caterer.Models.Category
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_CaterersDashboard.cshtml";
}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4>Delete Category</h4>
                        <div class="d-flex">
                            <div class="ms-auto">
                                <a class="btn btn-primary btn-sm ms-auto" asp-controller="Categories" asp-action="CategoryList">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                        <div>
                            <h5>Category Information</h5>
                            <hr class="my-3">
                            <dl class="row">
                                <dt class="col-sm-3">Name:</dt>
                                <dd class="col-sm-9">@Html.DisplayFor(model => model.CategoryName)</dd>
                                <dt class="col-sm-3">Category Logo:</dt>
                                <dd class="col-sm-9">
                                    @if (!string.IsNullOrEmpty(Model.CategoryLogo))
                                    {
                                        <img src="/Images/CategoryImages/@Html.DisplayFor(model => model.CategoryLogo)" style="max-width: 100px; max-height: 100px;" />
                                    }
                                    else
                                    {
                                        <span>No image available</span>
                                    }
                                </dd>
                            </dl>
                            <form asp-action="CategoryDelete" asp-controller="Categories" asp-route-id="@Model.CategoryId" method="post">
                                <input type="hidden" asp-for="CategoryId" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
                    @section Scripts {
                        @{
                            await Html.RenderPartialAsync("_ValidationScriptsPartial");
                        }
                    }
                </div>
            </div>
        </div>
